.file-loader-directive.directive
	.button-container(style="margin-bottom: 10px")
		%label.btn.btn-default(ng-disabled="loading")
			Выбрать файл
			%input(type="file" id="file" style="display: none" onchange="angular.element(this).scope().file_loader.changeFileName(event)")
		%span(ng-bind="file_loader.model")

	.upload-drop-zone(id="file-zone" ng-class="{active: file_loader.dropActive, bottom: loading}" ng-style="{'z-index': file_loader.zIndex}")
		{{file_loader.dragMessage}}