%navbar
%br
%br

.container
	.row
		%h3.login-logo(style="margin-bottom: 30px") Личный кабинет

	.row.user-row
		.col-sm-1
			Имя:
		.col-sm-11.user-data
			{{cf.user_data.name}}

	.row.user-row
		.col-sm-1
			Фамилия:
		.col-sm-11.user-data
			{{cf.user_data.surname}}

	.row.user-row
		.col-sm-1
			E-mail:
		.col-sm-11.user-data
			{{cf.user_data.email}}

	.row.user-row
		.col-sm-1
			Роль:
		.col-sm-11.user-data
			{{cf.roles[cf.user_data.role].name}}

	.row.user-row
		.col-sm-1
			Инфо:
		.col-sm-11.user-data
			{{cf.user_data.note}}

	.row(style="margin-top: 30px")
		.col-sm-4
			%div Сброс пароля

			.form-group
				%input.form-control(type="password" placeholder="Старый пароль" ng-model="cf.oldPass" style="margin-bottom:35px")

				%input.form-control(type="password" placeholder="Новый пароль" ng-model="cf.newPass" style="margin-bottom:15px")
				%input.form-control(type="password" placeholder="Подтвердите пароль" ng-model="cf.confPass")

	.row
		.col-sm-4
			.btn.btn-info(data-dismiss="modal" ng-click="cf.resetFields()") Сброс
			.btn.btn-success(data-dismiss="modal" ng-click="cf.saveData()") Сохранить

%footbar
