%navbar
%br
%br
.container

	.row
		%br.col-sm-offset-1
		%h1 Добро пожаловать
		%h1
			%small в портал технической поддержки CityGals
	%hr
	.well

		.row
			.col-sm-4.border_element
				.cursor(ng-click="fd.redirect('critical')")
					.text-cell-container
						%h4.text-center Критических заявок
					%h3.text-center {{fd.critical}}

			.col-sm-4.border_element
				.cursor(ng-click="fd.redirect('overdue')")
					.text-cell-container
						%h4.text-center Просроченных заявок
					%h3.text-center {{fd.outdated}}

			.col-sm-4.border_element
				.cursor(ng-click="fd.redirect('today')")
					.text-cell-container
						%h4.text-center Запланировано на сегодня
					%h3.text-center {{fd.forToday}}

		.row.second_row
			.col-sm-4.border_element
				.cursor(ng-click="fd.redirect('infinite')")
					.text-cell-container
						%h4.text-center Не указан срок выполнения
					%h3.text-center {{fd.forInfinite}}

			.col-sm-4.border_element
				.cursor(ng-click="fd.redirect('weekly')")
					.text-cell-container
						%h4.text-center Запланировано на неделю
					%h3.text-center {{fd.forWeek}}

			.col-sm-4.border_element
				.cursor(ng-click="fd.redirect('total')")
					.text-cell-container
						%h4.text-center Всего
					%h3.text-center {{fd.forAll}}

%footbar
