@media (min-width: 768px) {
	.seven-cols .col-sm-1,
	.seven-cols .col-md-1,
	.seven-cols .col-lg-1 {
		width: 14.285714285714285714285714285714%;
		*width: 14.285714285714285714285714285714%;
	}
}
.border_element > div
{
	height: 100px;
	background-color:#eee;
	border: 1px solid #888;
	border-radius:3px;
}

small{
	display: block;
	width: 330px;
	float: left;
}

.svg-container {
  height: 400px;
}

.second_row {
  margin-top: 20px;
}

.text-cell-container {
  height: 25px;
}

.cursor{
	cursor: pointer;
	transition: 2s;
}

.cursor:hover{
	background: #5cb85c;
}